h1{
    font-size: 60px;
}
h2{
    font-size: 40px;
}

p{
    font-size: 20px;
}
a{
    font-size: 20px;
    
}

body {
background-color: aquamarine;
}

.cuadrado {
    background-color: #FF0000;
    width: 250px;
    height: 250px;
}

.cuadrado2 {
    background-color: #FF0033;
    width: 250px;
    height: 250px;
}

.cuadrado3 {
    background-color: #FF0066;
    width: 250px;
    height: 250px;
}

.cuadrado4 {
    background-color: #FF0099;
    width: 250px;
    height: 250px;
}

.cuadrado5 {
    background-color: #FF00CC;
    width: 250px;
    height: 250px;
}

.cuadrado6 {
    background-color: #FF00FF;
    width: 250px;
    height: 250px;

}

.footer {
    font-size: 10px;
    background-color: cadetblue;
    text-align: center;
    padding-bottom: 20px;
    }
   
