table {
    border: 1px solid #b7b7b7;
  }
  .tablebackground {
    background-color: #C9C9C9;
  }
  #t01 {
    width:50%;
    background-color: white;
  }
  
  table, th, td {
    border-collapse: collapse;
    
  }
  th, td {
    padding: 15px;
    text-align: left;
  }
  code {
     font-size: 17px; 
  }